.head {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-left: 10px;
}

.icons h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
}

.icons p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #AAAAAA;
}

.search {
  position: relative;
}

.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 26%;
  transform: translateY(-50%);
  color: var(--grey-color);
  font-size: 14px;
}


.search input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 5px;
  padding-left: 30px;
  width: 200px;
  transition: width 0.3s;
}

.head .search input:focus {
  width: 250px;
  outline: none;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: rgba(130, 112, 244, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.modal-body label {
  background-color: rgba(130, 112, 244, 1);
  border: none;
}

form {
  padding: 0;
}


@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .search {
    margin: 0 auto;
    text-align: center;
  }

  .search input {
    width: 100%;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .head {
    padding: 10px;
  }

  .search input {
    width: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .head {
    padding: 15px 50px;
  }

  .search input {
    width: 200px;
  }
}

@media screen and (min-width: 992px) {
  .head {
    padding: 15px;
  }

  .search input {
    width: 250px;
  }
}