<div class="setting">
  <div class="info">
    <span>{{ userName ? userName.charAt(0).toUpperCase() : '' }}</span>
    <div class="text">

      <h2>{{ userName }}</h2>
      <p>test@gmail.com</p>
    </div>
  </div>
  <div class="details mt-5">
    <div class="detail">
      <h4>Change Photo</h4>
      <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="detail">
      <h4>Edit Name</h4>
      <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="detail">
      <h4>Edit Email</h4>
      <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="detail">
      <h4>Change password</h4>
      <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="detail">
      <h4>Your posts</h4>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>


</div>
